= simple_form_for(@quiz) do |f|
  = f.error_notification

  .form-inputs
    %table
      %tr
        %td.left= f.input :question_count, collection: [5, 10, 15, 20], selected: 10, include_blank: false, label: false
        %td.right questions tagged...
        %td.four-cols{rowspan: 3}= f.association :tags, as: :check_boxes, label: false, label_method: :name_and_qs
      %tr
        %td.center{colspan: 2}= f.button :submit, 'Save and generate questions'
      %tr
        %td.right user
        %td.left= f.association :user, selected: current_user.try(:id), label: false, include_blank: true, prompt: 'user (blank for Anonymous)'

    %br
