%h1 Class Relationships Practice

This is your opportunity to practice recognizing Inheritance, Composition and Modules relationships.
%br
For each randomly generated pair below, there should be one "best" answer.  Find it!
%br
Just refresh the page for new relationships.  Enjoy!

%p

- unless @class_relationships.empty?
  = "#{ClassRelationship.count} ClassRelationships, #{ClassName.count} ClassNames"
  %br
  - by_primary = @class_relationships.group_by(&:primary_id)
  = "by_primary.keys is #{by_primary.keys}"
  %br
  - by_secondary = @class_relationships.group_by(&:secondary_id)
  = "by_secondary.keys is #{by_secondary.keys}"
  %br
  = "by_primary[by_primary.keys.first] is #{by_primary[by_primary.keys.first].pluck(:id)}"

  %table
    %thead
      %tr
        / %th
        %th.right Self
        %th.left & Other
        %th.left could use...
        %th
        %th.left ...to model this real-life-object relationship
        %th

    %tbody
      = render @class_names

  %br

  = link_to 'New Class Name', new_class_name_path
