= simple_form_for(@class_relationship) do |f|
  = f.error_notification

  .form-inputs
    = f.association :primary_class_name
    = f.association :secondary_class_name
    = f.input :class_rel, collection: ClassRelationship.labels_for_select
    = f.input :object_rel

  .form-actions
    = f.button :submit
