%h1
  = ClassRelationship.count
  Class Relationships

.with-overflow
  %table
    %thead
      %tr
        %th
        - @class_names.each do |cn|
          %th= cn.name

    %tbody
      - @class_names.each_with_index do |cn, i|
        %tr
          %th.right= cn.name
          - @class_names.each_with_index do |cn, j|
            %td
              - if @cr = class_relationships_hash[i+1][j+1]
                = simple_form_for(@cr, remote: true) do |f|
                  = token_tag
                  = f.input :class_rel, label: false, collection: ClassRelationship.labels_for_select, input_html: { onchange: "this.form.submit();"}              
