%ul.nav
  %li= link_to 'About', root_path
  %li= link_to 'Quizzes/New', quizzes_path
  %li= link_to 'Tags/New', tags_path
  %li.outside-class= link_to 'Questions/New', questions_path, {class: 'inside_class'}
  = render 'layouts/nav_links_for_auth'