%ul.nav
  %li= link_to 'About', root_path
  %li= link_to 'Quizzes/New', quizzes_path
  %li= link_to 'Tags/New', tags_path
  %li= link_to 'Questions/New', questions_path
  = render 'layouts/nav_links_for_auth'